<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjsu.se195.irom">

    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.SignUpActivity"
            android:label="Sign Up"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".signup.FirstTimePictureActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="Sign In"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".WelcomeActivity"
            android:label="Welcome"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".CloudVisionTestActivity"
            android:label="CloudVisionTest"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemActivity"
            android:label="Item"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryActivity"
            android:label="Inventory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InventoryItemDetailActivity"
            android:label="Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListingActivity"
            android:label="Listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListingDetailActivity"
            android:label="ListingDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".AmazonActivity"
            android:label="Amazon"
            android:theme="@style/AppTheme.NoActionBar" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>